.product {
  display: flex;
  flex-direction: column;
  min-width: 22vw;
  max-width: 22vw;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px rgba(204, 204, 253, 0.418);
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(204, 204, 253, 0.418);

  // we could use media queries from here to be as correct as possible
  @media only screen and (max-width: 600px) {
    max-width: 94vw;
    max-width: 94vw;
  }

  @media only screen and (width: 540) and (height: 720) {
    min-width: 44vw;
    max-width: 44vw;
  }

  @media only screen and (max-width: 1024px) {
    min-width: 44vw;
    max-width: 44vw;
  }
  
  @media only screen and (min-width: 1024) and (max-width: 1366px) and (orientation : landscape) {
    min-width: 22vw;
    max-width: 22vw;
  }

  &:hover {
    box-shadow: 4px 4px 4px rgba(167, 167, 233, 0.658);
    transition: box-shadow 0.3s ease-in-out;
  }

  .details {
    filter: none;
    display: flex;
    flex-direction: column;

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: small;
      font-variant: small-caps;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pricing {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: small;
      font-variant: small-caps;
      
      .base-price {
        padding-right: 10px;

        &.strikethrough {
          color: gray;
          font-style: strikethrough;
        }
      }

      .actual-price {
        color: red;
      }

    }
  }
}

// .shadow {
//   filter: drop-shadow(3px 2px 4px lightblue);
// }