
.paginator {
  display:flex;
  flex-direction: row;

  .pages {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    max-width:400px;
    padding: 0 5px;
    
    div {
      padding: 0 3px ;
    }
  }
}
